<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>swiftTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>93E28A742B37F75900D4F5C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93E28A852B37F75B00D4F5C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93E28A8F2B37F75B00D4F5C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
